body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(rgb(137, 201, 253), #3636b3);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
background-color: rgb(255, 255, 255);
color: rgb(27, 33, 113);
padding: 20px;
height: 200px;
width: 300px;
border-radius: 15px;
text-align: center;
position: fixed;
animation: float 4s;
}
@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-25px); }
    100% { transform: translateY(0); }
}
button {
margin-top: 15px;
padding: 20px;
height: 10px;
width: 40vh;
line-height: 0%;
border-radius: 25px;
background-color: rgb(14, 76, 176);
color: aliceblue;
transition: 0.5s;
}
button:hover {
    background: rgb(137, 201, 253);
    color: rgb(21, 13, 67);
}

