header {
    background-color: brown;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu  {
    color: white;
    display: flex;
    gap: 30px;
}
.menu a {
    color: white;
    gap: 40px;
    font-size: 20px;
}

main a {
    color: rgb(0, 0, 0);
}
main {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 5%;
}

.product {
    width: 300px;
    min-height: 450px;
    border-radius: 10px;
    border: 1px solid #ddd;;
    text-align: center;
    padding: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product img {
    max-width: 100%;
    max-height: 250px;
    object-fit: contain;
    margin: 0 auto 15px auto;
    display: block;
}
.btn {
    display: inline-block;
    padding: 15px 5px;
    background-color: #6275b1;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

footer {
    background-color:rgb(55, 57, 91);
    color: white;
    padding: 20px;
    text-align: center;
}
footer a {
    color: white;
}